@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.interface {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png");
    height: 100vh;
    width: 100vw;
    padding: 10px;
}

.name {
    background-color: #262625;
    text-align: center;
    background-size: cover;
    color: white;
    font-family: roboto;
}

.from {
    background-color: skyblue;
    text-align: right;
    font-family: roboto;
    padding: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.to {
    background-color: grey;
    text-align: left;
    padding: 6px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
